/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

body {
  background-color: $primary-background;
  color: $primary-text;
  margin: 0;
}

button {
  background-color: $secondary-accent;
  border: 1px solid $primary-accent;
  color: $primary-text;
  cursor: pointer;
  font-size: 1rem;
  &:active {
    background-color: $primary-accent;
    border: 2px solid $secondary-accent;
    color: black;
  }
  &:focus {
    outline: none;
  }
}

#splash-page {
  text-align: center;
  #splash-background {
    background-image: url('../images/timberline.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
    position: relative;
    h1 {
      font-family: $brand-font;
      font-size: 5rem;
      margin: 0;
      padding-top: 5%;
      width: 100%;
      @media only screen and (max-width: 700px) {
		    font-size: 4rem;
	    }
      @media only screen and (max-width: 550px) {
        font-size: 3rem;
      }
      @media only screen and (max-width: 410px) {
        font-size: 2.5rem;
      }
   }
    #sign-in {
      background-color: $secondary-background-opaque;
      border: 2px solid $primary-accent;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      padding-bottom: 4%;
      width: 30%;
      @media only screen and (max-width: 700px) {
        margin-top: 20%;
        width: 50%;
      }
      h6 {
        font-family: $main-font;
        font-size: 1.4rem;
        margin-bottom: 3%;
        margin-top: 5%;
        @media only screen and (max-width: 760px) {
  		    font-size: 1rem;
          margin-top: 10%;
    	  }
        @media only screen and (max-width: 550px) {
   		     font-size: 0.6rem;
           margin-top: 20%;
   	    }
      }
      form {
        font-family: $main-font;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 50%;
        input {
          font-size: 1rem;
          height: 10%;
          margin-bottom: 10%;
          margin-top: 1%;
          padding: 5px;
          width: 100%;
          @media only screen and (max-width: 860px) {
     		     font-size: 0.8rem;
     	    }
          @media only screen and (max-width: 685px) {
     		     font-size: 0.5rem;
             height: 5%;
     	    }
          @media only screen and (max-width: 500px) {
     		     font-size: 0.3rem;
     	    }
        }
        label {
          display: block;
          text-align: left;
          @media only screen and (max-width: 860px) {
     		     font-size: 0.8rem;
     	    }
          @media only screen and (max-width: 685px) {
     		     font-size: 0.5rem;
     	    }
          @media only screen and (max-width: 500px) {
     		     font-size: 0.3rem;
     	    }
        }
        button {
          height: 15%;
          margin-left: 20%;
          margin-right: 20%;
          width: 60%;
          @media only screen and (max-width: 860px) {
     		     font-size: 0.8rem;
     	    }
          @media only screen and (max-width: 685px) {
     		     font-size: 0.4rem;
     	    }
          @media only screen and (max-width: 500px) {
     		     font-size: 0.2rem;
     	    }
          @media only screen and (max-width: 400px) {
     		     font-size: 0.1rem;
     	    }
        }
        p {
          color: $error-color;
          margin: 8%;
        }
      }
    }
  }

  footer {
    background-color: $secondary-background-opaque;
    font-family: $main-font;
    font-size: 1.2rem;
    height: 150px;
    width: 100%;
    aside {
      span {
        display: block;
        padding-top: 10px;
      }
      div {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5%;
        width: 30%;
        img {
          height: 50px;
          @media only screen and (max-width: 820px) {
    		    height: 40px;
    	    }
          @media only screen and (max-width: 690px) {
    		    height: 30px;
    	    }
          @media only screen and (max-width: 505px) {
    		    height: 20px;
    	    }
        }
      }
    }
  }
}

#manager-page {
  background-attachment: fixed;
  background-image: url('../images/hotel-front.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100vh;
  overflow-x: scroll;
  #manager-page-header {
    background-color: $secondary-accent;
    border-bottom: 4px solid $primary-accent;
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    vertical-align: center;
    width: 100%;
    h1 {
      font-family: $brand-font;
      font-size: 3rem;
      padding-left: 20px;
      padding-top: 10px;
      margin: 0;
      @media only screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
    detail {
      font-family: $main-font;
      font-size: 1.4rem;
      padding-right: 30px;
      padding-top: 10px;
      @media only screen and (max-width: 500px) {
        font-size: 1rem;
      }
      span {
        display: block;
      }
    }
  }
  #top-container {
    margin-top: 13%;
    @media only screen and (max-width: 900px) {
      margin-top: 20%;
    }
    @media only screen and (max-width: 600px) {
      margin-top: 30%;
    }
    @media only screen and (max-width: 400px) {
      margin-top: 40%;
    }
  }
  .manager-container {
    background-color: $secondary-background-opaque;
    border: 2px solid $primary-accent;
    font-family: $main-font;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-bottom: 3%;
    width: 80%;
    h2 {
      font-size: 2.2rem;
      margin: 0;
      padding: 10px;
      padding-left: 20px;
      width: 100%;
      @media only screen and (max-width: 800px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
    form {
      background-color: $primary-background;
      border: 2px solid $primary-accent;
      border-radius: 2px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      padding: 3%;
      text-align: center;
      width: 30%;
      #customer-search-error {
        font-size: 0.8rem;
        display: none;
      }
      label {
        display: block;
        font-size: 1.2rem;
        margin-right: 55%;
      }
      input {
        display: block;
        font-size: 1.1rem;
        height: 30px;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        @media only screen and (max-width: 670px) {
          font-size: 0.6rem;
          height: 15px;
        }
      }
      #find-customer {
        width: 80%;
      }
      button {
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (max-width: 670px) {
          font-size: 0.6rem;
        }
      }
    }
    div {
      display: flex;
      height: 65%;
      justify-content: space-around;
      .data-container {
        background-color: $secondary-accent;
        border: 2px solid $primary-accent;
        height: 100%;
        padding: 3%;
        text-align: center;
        width: 20%;
        h3 {
          font-size: 3rem;
          margin-bottom: 5%;
          margin-top: 0;
          @media only screen and (max-width: 860px) {
            font-size: 2.4rem;
          }
          @media only screen and (max-width: 670px) {
            font-size: 1.8rem;
          }
          @media only screen and (max-width: 510px) {
            font-size: 1.2rem;
          }
        }
        label {
          font-size: 1.8rem;
          text-decoration: underline;
          @media only screen and (max-width: 860px) {
            font-size: 1.2rem;
          }
          @media only screen and (max-width: 670px) {
            font-size: 0.6rem;
          }
          @media only screen and (max-width: 510px) {
            font-size: 0.2rem;
          }
        }
      }
    }
    table {
      border: 1px solid $primary-accent;
      border-collapse: collapse;
      font-size: 1.4rem;
      margin-bottom: 5%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      text-align: center;
      width: 75%;
      @media only screen and (max-width: 675px) {
        font-size: 1rem;
        width: 50%;
      }
      @media only screen and (max-width: 575px) {
        font-size: 0.7rem;
      }
      tr {
        &:hover {
          background-color: $primary-background;
        }
      }
      th {
        background-color: $secondary-accent;
        border: 1px solid $primary-accent;
        padding: 5px;
        text-align: center;
      }
      td {
        border: 1px solid $primary-accent;
      }
    }
  }
  #customer-info-wrapper {
    background-color: $primary-background;
    border: 2px solid $primary-accent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    width: 70%;
    .custo-info {
      font-size: 1.4rem;
      @media only screen and (max-width: 670px) {
        font-size: 1rem;
      }
      @media only screen and (max-width: 450px) {
        font-size: 0.6rem;
      }
    }
  }
  #booking-delete-error {
    display: none;
    margin-bottom: -3%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  button {
    height: 30px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    @media only screen and (max-width: 1000px) {
      font-size: 0.7rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 0.5rem;
    }
  }
  #manager-post-form {
    background-color: $primary-background;
    border: 2px solid $primary-accent;
    border-radius: 2px;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    text-align: center;
    width: 60%;
    h3 {
      font-size: 2.5rem;
      margin: 0;
      margin-bottom: 3%;
      @media only screen and (max-width: 800px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 600px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
      }
    }
    div {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;
      width: 50%;
      div {
        display: flex;
        flex-direction: column;
        width: 33%;
        #user-year-mng {
          width: 80%;
        }
        .small-input {
          width: 40%;
        }
        label {
          margin: 0;
          @media only screen and (max-width: 700px) {
            font-size: 0.8rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 0.5rem;
          }
        }
      }
    }
    #mng-post-invalid-field, #mng-post-invalid-booking, #mng-post-success {
      display: none;
    }
  }
  button {
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
  }
  #wide-wrap {
    width: 70%;
  }
}

#customer-page {
  background-attachment: fixed;
  background-image: url('../images/timberline-hood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100vh;
  overflow-x: scroll;
  #customer-page-header {
    background-color: $primary-background;
    border-bottom: 4px solid $primary-accent;
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    vertical-align: center;
    width: 100%;
    h1 {
      font-family: $brand-font;
      font-size: 3rem;
      padding-left: 20px;
      padding-top: 10px;
      margin: 0;
      @media only screen and (max-width: 450px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 350px) {
        font-size: 1.6rem;
      }
    }
    detail {
      font-family: $main-font;
      font-size: 1.4rem;
      padding-right: 30px;
      padding-top: 10px;
      @media only screen and (max-width: 575px) {
        font-size: 1rem;
      }
      @media only screen and (max-width: 350px) {
        font-size: 0.8rem;
      }
      span {
        display: block;
      }
    }
  }
  .customer-container-2 {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid $primary-accent;
    font-family: $main-font;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 80%;
    @media only screen and (max-width: 700px) {
      margin-top: 25%;
    }
    @media only screen and (max-width: 550px) {
      margin-top: 35%;
    }
    h2 {
      font-size: 2.2rem;
      margin: 0;
      padding: 10px;
      padding-left: 20px;
      width: 100%;
      @media only screen and (max-width: 550px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 400px) {
        font-size: 1.5rem;
      }
    }
    div {
      #spend-container {
        height: 20%;
        margin-bottom: 5%;
        h3 {
          font-size: 2rem;
          margin: 0;
          padding: 10px;
        }
      }
      .data-container {
        background-color: $secondary-background;
        border: 2px solid $primary-accent;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
        h3 {
          font-size: 3rem;
          margin-bottom: 5%;
        }
        label {
          display: block;
          font-size: 1.8rem;
          margin-top: 3%;
          text-decoration: underline;
        }
        select {
          background-color: $primary-accent;
          border: 2px solid $secondary-accent;
          cursor: pointer;
          display: block;
          font-family: $main-font;
          font-size: 1.2rem;
          height: 30px;
          margin-bottom: 5%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          outline: none;
          width: 20%;
          @media only screen and (max-width: 1050px) {
            font-size: 1rem;
          }
          @media only screen and (max-width: 870px) {
            font-size: 0.8rem;
          }
          @media only screen and (max-width: 700px) {
            font-size: 0.5rem;
          }
          @media only screen and (max-width: 550px) {
            font-size: 0.3rem;
          }
          @media only screen and (max-width: 400px) {
            font-size: 0.1rem;
          }
        }
        #booking-error {
          display: none;
          font-size: 1.3rem;
        }
        table {
          border: 1px solid $primary-accent;
          border-collapse: collapse;
          font-size: 1.4rem;
          margin-bottom: 5%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          width: 75%;
          @media only screen and (max-width: 1000px) {
            font-size: 1rem;
          }
          @media only screen and (max-width: 800px) {
            font-size: 0.7rem;
            width: 60%;
          }
          @media only screen and (max-width: 500px) {
            font-size: 0.4rem;
            width: 50%;
          }
          @media only screen and (max-width: 350px) {
            font-size: 0.2rem;
            width: 40%;
          }
          tr {
            &:hover {
              background-color: $primary-background;
            }
          }
          th {
            background-color: $secondary-accent;
            border: 1px solid $primary-accent;
            padding: 5px;
            text-align: center;
          }
          td {
            border: 1px solid $primary-accent;
          }
        }
      }
    }
  }
  #room-search-wrap {
    margin-top: 5%;
    h3 {
      font-size: 2rem;
      @media only screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
    }
    #input-wrapper-lrg {
      display: flex;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      input {
        height: 50%;
      }
      label {
        font-size: 1rem;
        text-decoration: none;
        @media only screen and (max-width: 600px) {
          font-size: 0.7rem;
        }
      }
      #room-search-year {
        font-size: 1.2rem;
        width: 90%;
      }
      #room-search-day, #room-search-month {
        font-size: 1.2rem;
        width: 45%;
      }
    }
    button {
      height: 30px;
      margin-bottom: 5%;
      width: 20%;
      @media only screen and (max-width: 800px) {
        font-size: 0.7rem;
      }
      @media only screen and (max-width: 650px) {
        font-size: 0.5rem;
      }
    }
  }
  #booking-success, #booking-fail, #room-search-error {
    display: none;
    margin-bottom: 3%;
  }
}
