/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

body {
  background-color: $primary-background;
  margin: 0;
}

#splash-page {
  text-align: center;
  #splash-background {
    background-image: url('../images/timberline.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
    position: relative;
    h1 {
      color: $primary-text;
      font-family: $brand-font;
      font-size: 5rem;
      margin: 0;
      padding-top: 5%;
      width: 100%;
    }

    #sign-in {
      background-color: $secondary-background-opaque;
      border: 2px solid $primary-accent;
      border-radius: 2px;
      color: $primary-text;
      height: 35%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      width: 30%;
      h6 {
        font-family: $main-font;
        font-size: 1.4rem;
        margin-bottom: 3%;
        margin-top: 3%;
      }
      form {
        font-family: $main-font;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 50%;
        input {
          font-size: 1rem;
          height: 10%;
          margin-bottom: 10%;
          margin-top: 1%;
          padding: 5px;
          width: 100%;
        }
        label {
          display: block;
          text-align: left;
        }
        button {
          background-color: $secondary-accent;
          border: 1px solid $primary-accent;
          color: $primary-text;
          cursor: pointer;
          font-size: 1rem;
          height: 15%;
          margin-left: 20%;
          margin-right: 20%;
          width: 60%;
          &:active {
            background-color: $primary-accent;
            border: 2px solid $secondary-accent;
            color: black;
          }
          &:focus {
            outline: none;
          }
        }
        p {
          color: $error-color;
          margin: 5px;
        }
      }
    }
  }

  footer {
    background-color: $secondary-background-opaque;
    color: $primary-text;
    font-family: $main-font;
    font-size: 1.2rem;
    height: 150px;
    width: 100%;
    aside {
      span {
        display: block;
        padding-top: 10px;
      }
      div {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 20%;
        img {
          height: 50px;
        }
      }
    }
  }
}

#manager-page {
  background-image: url('../images/hotel-front.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100vh;
  #manager-page-header {
    color: $primary-text;
    background-color: $secondary-accent;
    border-bottom: 4px solid $primary-accent;
    display: flex;
    height: 100px;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
    h1 {
      font-family: $brand-font;
      font-size: 3rem;
      padding-left: 20px;
      padding-top: 10px;
      margin: 0;
    }
    detail {
      font-family: $main-font;
      font-size: 1.4rem;
      padding-right: 30px;
      padding-top: 10px;
      span {
        display: block;
      }
    }
  }

  .manager-container {
    background-color: $secondary-background-opaque;
    border: 2px solid $primary-accent;
    color: $primary-text;
    font-family: $main-font;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 80%;
    h2 {
      font-size: 2.2rem;
      margin: 0;
      padding: 10px;
      padding-left: 20px;
      width: 100%;
    }
    form {
      border: 2px solid $primary-accent;
      border-radius: 2px;
      color: $primary-text;
      height: 30%;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: auto;
      width: 20%;
      label {
        display: block;
        font-size: 1.2rem;
        padding-left: 20px;
        padding-top: 20px;
      }
      input {
        height: 20px;
        margin-left: 20px;
        width: 60%;
      }
    }
    div {
      display: flex;
      height: 65%;
      justify-content: space-around;
      .data-container {
        background-color: $secondary-accent;
        border: 2px solid $primary-accent;
        height: 100%;
        text-align: center;
        width: 30%;
        h3 {
          font-size: 3rem;
          margin-bottom: 5%;
        }
        label {
          font-size: 1.8rem;
          text-decoration: underline;
        }
      }
    }
  }
}

#customer-page {
  background-attachment: fixed;
  background-image: url('../images/timberline-hood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 100vh;
  overflow-x: scroll;
  #customer-page-header {
    color: $primary-text;
    background-color: $primary-background;
    border-bottom: 4px solid $primary-accent;
    display: flex;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    vertical-align: center;
    width: 100%;
    h1 {
      font-family: $brand-font;
      font-size: 3rem;
      padding-left: 20px;
      padding-top: 10px;
      margin: 0;
    }
    detail {
      font-family: $main-font;
      font-size: 1.4rem;
      padding-right: 30px;
      padding-top: 10px;
      span {
        display: block;
      }
    }
  }
  .customer-container-2 {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid $primary-accent;
    color: $primary-text;
    font-family: $main-font;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 80%;
    h2 {
      font-size: 2.2rem;
      margin: 0;
      padding: 10px;
      padding-left: 20px;
      width: 100%;
    }
    div {
      #spend-container {
        height: 15%;
        h3 {
          font-size: 2rem;
          margin: 0;
          margin-top: 2%;
        }
      }
      .data-container {
        background-color: $secondary-background;
        border: 2px solid $primary-accent;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
        h3 {
          font-size: 3rem;
          margin-bottom: 5%;
        }
        label {
          display: block;
          font-size: 1.8rem;
          text-decoration: underline;
        }
        select {
          background-color: $primary-accent;
          border: 2px solid $secondary-accent;
          cursor: pointer;
          display: block;
          font-family: $main-font;
          font-size: 1.2rem;
          height: 30px;
          margin-bottom: 5%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          outline: none;
          width: 20%;
        }
        #booking-error {
          display: none;
          font-size: 1.3rem;
        }
        table {
          border: 1px solid $primary-accent;
          border-collapse: collapse;
          font-size: 1.4rem;
          margin-bottom: 5%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          width: 75%;
          th {
            background-color: $secondary-accent;
            border: 1px solid $primary-accent;
            padding: 5px;
            text-align: center;
          }
          td {
            border: 1px solid $primary-accent;
          }
        }
      }
    }
  }
}
